.signup{
    float: left;
    height: 70%;
    width: 33%;
    background-color: #442727;
    color: white;
    margin: 5% 0 0 33%;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    /* border: black 2px solid; */
}

.signup_back{
    background-color: #d2c6b2;
    height: 100vh;

}
/* .input_block::placeholder{
    color: white;
} */
