.navbar{
    position: absolute;
    margin-left: 70%;
}
.navbar .Link{
    color: black;
    text-decoration: none !important;
    padding: 8px 15px 0px 17px;
    font-size: 15px;
    /* margin-top: 20px; */
    cursor: pointer;
    float: left;
    opacity: 1;
}
.navbar .Link:hover{
    color: rgba(0,0,0, 0.5) !important;
}