.play:hover{
    cursor: pointer;
}
.play{
    width: 75px;
    height: 80px;
    position: absolute;
    margin-top: 24%;
    left: 54.5%;
    /* border: solid 2px black; */
}
.breaker{
  background-color: rgb(255, 255, 255);
  height: 10vh;
  width: 100%;
  float: left;
}
.main_block_search{
  /* border: black 2px solid; */
  width: 80%;
  height: auto;
  background-color: #ffffff;
  margin: auto;
  /* border-radius: 1%; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10vh;
  
  

  /* background-image: url("../../Photos/searchback.png"); */
}
#search_div{
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  background: #3E5151;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
}
#infobox_alt{
  float: left;
  height: 37vh;
  background-color: #212121;
  width: 100%;
  margin-bottom: 7vh;

}
#infobox_alt img{
  width: 300px;
  margin: 5vh;
  float: left;

}
#infobox_alt h2{
  color: white;
  font-size: 100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
#infobox_alt p{
  /* background-color: tomato; */
  width: 50%;
  color: white;
  font-size: 20px;
  margin-left: 341px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  #audio1 {
      display: none;
  }
  #vinyl{
      margin: 15% 10px 0px 85%;
      animation: rotate 3s linear infinite;
      animation-play-state: paused;
      
  }
  #speaker{
    margin: 32.2% 10px 0px 45%;
    position: absolute;
    width: 24px;
    height: 24px;
    /* animation: rotate 3s linear infinite;
    animation-play-state: paused; */
}
  #title1{
    position: absolute;
    margin-top: 19%;
    left: 44%;
    /* border: solid 1px black; */
    padding: 20px;
    border-radius: 50px;
    font-size: 25px;
    opacity: 0.8;
    width: 25%;
    padding-top: 25px;
    box-shadow: 0 4px 8px 0 rgba(224, 153, 153, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.09);
    text-align: center;
    float: left;
    display: none;

  }
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }


.bottom_player{
  width:100%;
  background: #3C3B3F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-top: 1px rgb(47, 47, 51);
  position: fixed;
  bottom: 0px;
  /* border: 2px rgb(187, 29, 29) solid; */

}


.record{
  background-color: blue;
}
#bigplay{
  margin-top: 0.5%; 
  width: 2vh;
  margin-left: 3%;
  pointer-events: all;
  
  /* border: black 1px solid; */

}
#bigplay:hover{
  cursor: pointer;
}

#bignext{
  width: 1.5vh;
  margin-left: 3%;
  margin-top: 0.5%; 
  pointer-events: all;
  /* border: black 1px solid; */

}

#bigback{
  width: 1.5vh;
  margin-left: 20%;
  margin-top: 0.5%; 
  pointer-events: all;
  /* border: black 1px solid; */
}
#bignext:hover{
  cursor: pointer;
}
#bigback:hover{
  cursor: pointer;
}



#progress{
  width: 70%
}
#small_cover_alt{
  width: 75px;
  margin: 1vh;
}
#title2_alt{
  position: fixed;
  padding: 1%;
  /* background-color: black; */
  font-size: 16px;
  opacity: 1;
  width: 10%;
  float: left;
  color: white;
  bottom: 10px;
  margin-left: 76px;
}
#artist_alt{
  position: fixed;
  
  /* background-color: black; */
  font-size: 15px;
  opacity: 1;
  width: 10%;
  float: left;
  color: white;
  bottom: 0px;
  margin-left: 95px;
  opacity: 0.6;
}
/* .tracks{
  display:inline-block;
} */
#current_timer{
  color: white;
  opacity: 0.8;
  float: left;
  position: fixed;
  left: 34%;
  top:95vh;
  z-index: 99;
  /* padding-top: 0.10vh; */

}

/* #time_bar{
  width:70vh;
  color:white;
  float: left;
  margin-right: 3vh;
  position: relative;

} */
/* .progress_bar{
  left: 38%;
  width:34%;
  position: fixed;
  bottom: 2.2vh;
  height: 3%;
  float: left;
} */
#volume_bar{
  padding : 0;
  width:10%;
  color:white; 
  /* position:fixed; */
  float: left;
  margin-top: 1.5%;
}
#volume{
  color: white;
  margin-right: 1%;
  float: left;
  margin-top: 0.6%;


}
.contain_slider1{
  width:60%;
  position: fixed;
  left: 37.5%;
  bottom: 1.8%;
  /* background-color: black; */
  height: 4%;
  /* border: black 1px solid; */

}
/* .contain_slider_land{

} */
/* webkit slider=========================== */

.slidecontainer {
  /* border: black 1px solid; */
  width: 30%;
  float: left;
  left: 40%;
  position: fixed;
  bottom: 3%;
  /* background-color: black; */
}

.slider1 {
  -webkit-appearance: none;
  width: 45%;
  height: 5.2%;
  border-radius: 5px;
  background: #ffffff;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  float: left;
  margin-right: 29%;
  margin-top: 1.5%;


}

.slider1:hover {
  opacity: 1;
  cursor: pointer;
}

.slider1::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
  background: rgb(254, 255, 255);
  cursor: pointer;
}

.slider1::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}



/* ============================= */
