.Header_main_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.158);
    padding: 10PX;
    padding-bottom: 0;
    position: absolute;
    background-color: white;
    float: left;
}

.Header_left{
    width: 200px;
    height: 80px;
    /* border: black 1px solid; */
    float: left;
    padding-top: 13px;
}
.Header_center{
    width: 700px;
    height: 80px;
    /* border: black 1px solid; */
    float: left;
    padding-top: 8px;
}
.Header_right{
    width: 200px;
    height: 80px;
    /* border: black 1px solid; */
    float: left;
    
    
}
.logo img{
    max-height: 53px;
    max-width: 53px;

}
.logo{
    float: left;
    /* border: 1px solid black; */
    position: absolute;
    left: 100px;
    top: 15px;
}
.Header_right_child{
    /* border: solid 1px black; */
    height: 100%;
    width: 33.333%;
    float: left;
    /* padding: 20px; */
}

#avatar{
    padding: 10px;
    padding-top: 15px;
}

#notification{
    padding-top: 20px;
    padding-left: 12px;
}
#settings{
    padding-top: 20px;
    padding-left: 20px;
}