
.play:hover{
    cursor: pointer;
}
#land_page_back{
  margin-top: 5%;
  width: 100%;
  height: 100vh;
  background-image: url("../Photos/landing.jpg");

  /* background-color: rgba(0, 0, 0, 0.178); */
  float: left;
}
#landing_title{
  color: rgb(0, 0, 0);
  padding: 20px 0 0 40px;
  /* text-align: left; */
  font-family: 'Playfair Display', serif;
  font-size: 100px;
  /* text-shadow: 2px 2px #7c7a7a; */

}
#landing_subtitle{
  color: rgb(0, 0, 0);
  padding: 0px 0 0 40px;
  /* text-align: left; */
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  opacity: 0.7;
  /* text-shadow: 2px 2px #7c7a7a; */

}
#music_demo{
  margin-top: 10px;
  margin-left: 43px;
  background-color: teal;
}



#podcast_landing_title{
  
    color: rgb(0, 0, 0);
    padding:50px 0 0 40px;
    /* text-align: left; */
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    /* text-shadow: 2px 2px #7c7a7a; */
  
  }
#podcast_landing_subtitle{
    color: rgb(0, 0, 0);
    padding: 0px 0 0 40px;
    /* text-align: left; */
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    opacity: 0.7;
    /* text-shadow: 2px 2px #7c7a7a; */
  
  }
#podcast_demo{
    margin-top: 10px;
    margin-left: 43px;
    background-color: teal;
  }
  
