.elem{
    width: 100%;
    float: left;
    margin: 10px 0 15px 0px;
    padding-bottom: 1;
    font-size: 30px;
    border-bottom: 2px black solid;
    
}
.elem img{
    float: left;
    margin: 0px 10px 10px 0;
    opacity: 0.8;
    height: 40px;
    width: 40px;
}
.elem img:hover{
    opacity: 1;
}