.play:hover{
    cursor: pointer;
}
.play{
    width: 75px;
    height: 80px;
    position: absolute;
    margin-top: 24%;
    left: 54.5%;
    /* border: solid 2px black; */
}
.breaker{
  background-color: rgb(255, 255, 255);
  height: 10vh;
  width: 100%;
  float: left;
}
.main_block_search{
  /* border: black 2px solid; */
  width: 80%;
  height: auto;
  background-color: #ffffff;
  margin: auto;
  /* border-radius: 1%; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10vh;
  
  

  /* background-image: url("../../Photos/searchback.png"); */
}
#search_div{
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  background: #3E5151;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
}
#infobox{
  float: left;
  height: 37vh;
  background-color: #212121;
  width: 100%;
  margin-bottom: 7vh;

}
#infobox img{
  width: 27vh;
  margin: 5vh;
  float: left;

}
#infobox h2{
  color: white;
  font-size: 100px;
  margin: 2vh 5vh 0 5vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
#infobox p{
  color: white;
  font-size: 20px;
  margin: 2vh 0 0 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  #audio1 {
      display: none;
  }
  #vinyl{
      margin: 15% 10px 0px 85%;
      animation: rotate 3s linear infinite;
      animation-play-state: paused;
      
  }
  #speaker{
    margin: 32.2% 10px 0px 45%;
    position: absolute;
    width: 24px;
    height: 24px;
    /* animation: rotate 3s linear infinite;
    animation-play-state: paused; */
}
  #title1{
    position: absolute;
    margin-top: 19%;
    left: 44%;
    /* border: solid 1px black; */
    padding: 20px;
    border-radius: 50px;
    font-size: 25px;
    opacity: 0.8;
    width: 25%;
    padding-top: 25px;
    box-shadow: 0 4px 8px 0 rgba(224, 153, 153, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.09);
    text-align: center;
    float: left;
    display: none;

  }
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }


.bottom_player{
  width: 100%;
  height:8.5%;
  background: #3C3B3F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-top: 1px rgb(47, 47, 51);
  position: fixed;
  left: 0;
  bottom: 0;
  

}
.record{
  background-color: blue;
}
#bigplay{
  margin-top: 0.5%; 
  width: 2vh;
  margin-left: 3%;
  pointer-events: all;
  
  /* border: black 1px solid; */

}
#bigplay:hover{
  cursor: pointer;
}

#bignext{
  width: 1.5vh;
  margin-left: 3%;
  margin-top: 0.5%; 
  pointer-events: all;
  /* border: black 1px solid; */

}

#bigback{
  width: 1.5vh;
  margin-left: 20%;
  margin-top: 0.5%; 
  pointer-events: all;
  /* border: black 1px solid; */
}
#bignext:hover{
  cursor: pointer;
}
#bigback:hover{
  cursor: pointer;
}



#progress{
  width: 70%
}
#small_cover{
  width: 6.5vh;
  margin: 1vh;
}
#title2{
  position: fixed;
  padding: 1%;
  /* background-color: black; */
  font-size: 16px;
  opacity: 1;
  width: 10%;
  float: left;
  color: white;
  bottom: 2vh;
  margin-left: 8vh;
}
#artist{
  position: fixed;
  
  /* background-color: black; */
  font-size: 15px;
  opacity: 1;
  width: 10%;
  float: left;
  color: white;
  bottom: 0vh;
  margin-left: 10vh;
  opacity: 0.8;
}
/* .tracks{
  display:inline-block;
} */
#current_timer{
  color: white;
  opacity: 0.8;
  float: left;
  margin-right: 2vh;
  /* padding-top: 0.10vh; */

}

#time_bar{
  width:70vh;
  color:white;
  float: left;
  margin-right: 3vh;
  position: relative;

}
.progress_bar{
  left: 80vh;
  width:90vh;
  position: fixed;
  /* left: 175vh; */
  bottom: 2.5vh;
  /* background-color: black; */
  height: 3vh;
  float: left;
}
#volume_bar{
  width:20vh;
  color:white; 
  position:fixed;
  float: left;
}
#volume{
  color: white;
  margin-right: 2vh;
}
.contain_slider1{
  width:40vh;
  position: fixed;
  left: 175vh;
  bottom: 2.5vh;
  /* background-color: black; */
  height: 3vh;
}
/* .contain_slider_land{

} */
/* webkit slider=========================== */

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}